.error-popup {
  position: fixed;
  height: 100vh;
  width: 110vw;
  box-shadow: 10rem 10rem 10rem 100rem rgba(33, 75, 167, 0.2);
  z-index: 9999;
  animation: fadeIn 0.3s ease;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  background-color: rgba(0, 0, 0, 0.5);
}
.error-box {
  background: #ff4d4d;
  padding: 14px 18px;
  border-radius: 8px;
  color: white;
  font-size: 15px;
  display: flex;
  align-items: center;
  gap: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
.close-btn {
  background: transparent;
  border: none;
  font-size: 18px;
  color: white;
  cursor: pointer;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}